.footer {
  height: 362px;
  background: url(../img/bg_footer.webp) no-repeat center 0;
}

.footer .foot-header {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 12px;
  height: 66px;
  border-bottom: 2px solid #d4d4d4;
}

.footer .foot-header .foot-logo {
  display: block;
  width: 285px;
  height: 64px;
  background: url(../img/footer_sprite.png) no-repeat;
}

.footer .foot-header .foot-timi {
  display: block;
  width: 70px;
  height: 64px;
  background: url(../img/footer_sprite.png) no-repeat -285px 0;
}

.footer .foot-content {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #6d6d6d;
}

.footer .foot-content .content-left {
  width: 508px;
}

.footer .foot-content .content-left .tips {
  display: flex;
  flex-wrap: wrap;
}

.footer .foot-content .content-left .tips em {
  margin-right: 12px;
  margin-bottom: 4px;
}

.footer .foot-content .content-right {
  width: 650px;
}

.footer .foot-content .content-right .foot-links {
  font-size: 0;
}

.footer .foot-content .content-right .foot-links a,
.footer .foot-content .content-right .foot-links span {
  font-size: 12px;
  line-height: 20px;
  color: #646467;
}

.footer .foot-content .content-right .foot-links span {
  margin: 0 2px;
}

.footer .foot-content .content-right .foot-links .cp-img {
  margin-top: 2px;
}